<div class="row">
  <div class="col-md-12">
    <h2 align="center">User List</h2>
    <table class="table table-striped table-condensed table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Balance</th>
          <th colspan="2">Email</th>
          <th colspan="2">Mobile</th>
          <th>Profile %</th>
          <th>Role</th>
          <th>Blocked</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.full_name %></td>
            <td><strong><%= user.finance.balance %></strong></td>
            <td><%= user.email %></td>
            <td><%= color_status(user.confirmed?, "Verified", "Not Verified") %></td>
            <td><%= user.mobile %></td>
            <td><%= color_status(user.mobile_verification_complete, "Verified", "Not Verified") %></td>
            <td>
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar"
                  style="width:<%= user.profile_completeness %>%">
                  <%= user.profile_completeness %>%
                </div>
              </div>
            </td>
            <td><%= display_role(user.role) %></td>
            <td><%= blocked_status(user.blocked?) %></td>
            <td><%= link_to 'Profile', user, class: "btn btn-xs btn-info" %></td>
            <td><%= link_to 'Transactions', history_user_path(user), class: "btn btn-xs btn-info" %></td>
            <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-xs btn-warning" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>