<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 simple_border">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <%= devise_error_messages! %>
    
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= recaptcha_tags %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
      </div>

      <div class="actions">
        <%= render "devise/shared/links" %>
      </div>

    <% end %>

  </div>
</div>
