<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-9">
    <h2 align="center">Update Balance</h2>
    <%= form_tag transaction_update_balance_path, method: :put do %>
      <table class="table table-striped table-condensed table-responsive">
        <thead>
          <tr>
            <th>Name</th>
            <th>Account Number</th>
            <th>Current Value</th>
            <th>Updated Value</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.full_name %></td>
              <td><%= user.finance.account_number %></td>
              <td><%= user.finance.balance.to_s %></td>
              <td>
                <%= hidden_field_tag "transaction[update][][user_id]", user.id %>
                <%= number_field_tag "transaction[update][][current_value]", "", class: "form-control input-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div align="center">
        <%= submit_tag 'Update', class: "btn btn-warning" %>
        <%= link_to 'Back', :back, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>